html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to top, rgb(82, 49, 118), rgb(92, 163, 243));
}

.welcome-container {
    position: fixed;
    top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 1%;
}
.welcome-container img {
    display: flex;
    width: 20%;
}
.welcome-container h1 {
    display: flex;
    font-size: 5vh;
}


.sighin-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    width: 100%;
    display: flex;
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(237, 237, 237);
    border: solid, rgb(163, 163, 163), 1px;
    padding: 3vh;

    flex-direction: column;
    gap: 2vh;
}
.sighin-container input {
    font-size: large;
    border-radius: 1vh;
    outline: none;
    border: solid 1px grey;
    padding: 1vh;
    align-self: center;
    justify-self: center;
    width: 20%;
}
.sighin-container p {
    display: none;
    align-self: center;
}

.login-button {
    width: 7%;
    background-color: rgb(222, 222, 222);
    text-align: center;
    align-self: center;
    padding: 1dvh;
    border-radius: 10px;
    cursor: pointer;
    border: solid 1px rgb(94, 94, 94);
    transition: 0.3s ease;
}
.login-button:hover {
    background-color: rgb(196, 196, 196);
}

.create-button {
    width: 7%;
    background-color: rgb(222, 222, 222);
    text-align: center;
    align-self: center;
    padding: 1dvh;
    border-radius: 10px;
    cursor: pointer;
    border: solid 1px rgb(94, 94, 94);
    transition: 0.3s ease;
}
.create-button:hover {
    background-color: rgb(196, 196, 196);
}