.alert-window {
    background-color: rgb(246, 246, 246);
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    border: solid rgb(0, 0, 0) 1px;
    color: red;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    display: none;
    z-index: 2;
}

.back {
    display: flex;
    width: 100%;
    height: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.back img{
    left: 1%;
    position: fixed;
    height: 5%;
    transition: 0.3s ease;
    border-radius: 1vh;
    z-index: 1;
    cursor: pointer;
}
.back img:hover {
    background-color: rgb(215, 215, 215);
}

.back p {
    font-size: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

.back p:hover {
    color: rgb(102, 102, 102);
}

#app {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    position: relative;
    height: fit-content;
    align-content: center;
    flex-direction: row;
    padding: 0.5vh;
    gap: 0.5vh;
    margin-bottom: 3vh;
}

.search-container {
    position: relative;
    display: flex;
    width: 50%;
    justify-self: center;
}
.search-container input {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    border: solid 1px black;
}

.left {
    background-color: white;
    width: 25%;
}

.rigth {
    background-color: white;
    width: 25%;
}

#favourite {
    transition: 0.3s;
}

#favourite:hover {
    background-color: rgb(232, 232, 232);
}

.favourites {
    background-color: rgb(246, 246, 246);
    border-radius: 1vh;
    text-align: center;

    align-content: center;

    width: 100%;
    height: 100%;

    cursor: pointer;
}

#account {
    background-color: rgb(246, 246, 246);
    border-radius: 1vh;

    text-align: center;
    align-content: center;

    width: 100%;
    height: 100%;

    cursor: pointer;

    transition: 0.3s;
}
#account:hover {
    background-color: rgb(232, 232, 232);
}

.gif-container {
    display: flex;
    justify-self: center;
    flex-direction: row;
    gap: 1%;
    background-color: rgb(251, 251, 251);
    width: 80%;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px rgb(229, 229, 229);
}

.gif-1column {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    /* background-color: black; */
    gap: 5px;
}

.gif-2column {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    /* background-color: black; */
    gap: 5px;
}

.gif-3column {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    /* background-color: black; */
    gap: 5px;
}

.gif-4column {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    /* background-color: black; */
    gap: 5px;
}

.star-deactive {
    top: 5%;
    right: 5%;
    width: 20%;
    position: absolute;
    flex-shrink: 0;
    fill: rgb(255, 255, 255);
    stroke: rgb(0, 0, 0);
    stroke-width: 5%;
    transition: 0.3s ease;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.star-deactive:hover {
    flex-shrink: 0;
    fill: rgb(255, 170, 0);
    stroke: white;
}

.star-active {
    top: 5%;
    right: 5%;
    width: 20%;
    position: absolute;
    flex-shrink: 0;
    fill: rgb(255, 170, 0);
    stroke: white;
    stroke-width: 5%;
    transition: 0.3s ease;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
}

.gif-wraper {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gif-wraper img {
    width: 100%;
    border-radius: 1vh;
}

.gif-wraper-copy {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 3vh;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 0 0 1vh 1vh;
}

.gif-wraper:hover .gif-wraper-copy {
    opacity: 0.7;
}


.gif-wraper:hover .star-deactive {
    opacity: 1;
}

/* .gif-wraper:hover .star-active {
    opacity: 1;
} */

.gif-text {
    top: 10px;
}